a.primary {
  border: 1px solid var(--semi-color-border);
  background: var(--semi-color-text-0);
  color: var(--semi-color-white);
  padding: 6px 12px;
  text-decoration: none;
  border-radius: var(--semi-border-radius-small);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: var(--semi-color-white);
  }
}

a.secondary {
  border: 1px solid var(--semi-color-border);
  background: var(--semi-color-white);
  color: var(--semi-color-text-0);
  padding: 6px 12px;
  text-decoration: none;
  border-radius: var(--semi-border-radius-small);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: var(--semi-color-text-0);
  }
}

a.primary:hover {
  background: var(--semi-color-text-1);
}

a.secondary:hover {
  background: var(--semi-color-fill-1);
}

.icon {
  font-size: 20px;
  margin-right: 4px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  margin-bottom: 8px;
}

.desc {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  background: var(--semi-color-tag-cornflower-0);
  border-radius: 32px;
  line-height: 20px;
}

.desc-text {
  font-weight: 530;
  margin: 0 10px;
  font-size: 14px;
}

.desc-entry {
  margin: 0;
  color:var(--semi-color-primary, '#3250EB')
}

.btn-group {
  display: flex;
  gap: 16px;
}