.CreateCustomField {
  padding: 0 16px;
  padding-top: 0;

  .title {
    margin-left: -48px;
    padding: 8px;
    padding-left: 48px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-weight: 600;
  }

  .footer {
    padding: 8px 0;
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
  }
}
